#container {
    background: #ffffff;
    background-size: contain;
    width: 100%;
    height: 500px;
    position: relative;
    border: 1px solid red;
}
#container img {
    position: absolute;
    border: 1px solid red;
}