
/* Layout */
.page-title .fa,
.page-title i[class*=icon-] {
	font-size: 1.2em;
    margin-right: 5px;
}

.page-header {
	position: fixed;
    width: 100%;
    z-index: 950;
}

#vmt_content {
	margin-top: 115px;
}

@media (max-width: 768px) {
	.page-header {
		position: static;
	}
	#vmt_content {
		margin-top: 0px;
	}
}

.heading-elements {
	right: 280px;
}

.validation-error-label,
.validation-valid-label {
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	color: #F44336;
	font-size: 0px;
	position: relative;
	padding-left: 0px;
}
.validation-valid-label {
	color: #4CAF50;
}
.validation-error-label:before,
.validation-valid-label:before {
	font-family: 'icomoon';
	position: absolute;
	top: -25px;
	left: -6%;
	display: inline-block;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
}
.validation-error-label:empty,
.validation-valid-label:empty {
	display: none;
}
.validation-error-label:before {
	content: '\ed63';
}
.validation-valid-label:before {
	content: '\ee73';
}

.vmt-error{
	border-color: red;
}

.form-group{
	margin-bottom: 5px;
}

/*.form-control{
	text-transform: uppercase;
}*/

.control-label {

}

.panel-overflow{
	margin-left: -10px;
	margin-top: -10px;
	overflow: auto;
	height:470px;
}
.vmt-table-medium > tbody > tr > th,
.vmt-table-medium > tfoot > tr > th,
.vmt-table-medium > thead > tr > td,
.vmt-table-medium > tbody > tr > td,
.vmt-table-medium > tfoot > tr > td {
	padding: 10px 10px;
	margin: 0px 0px;
	height: 0px;
	line-height: 1;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

.vmt-table-medium > thead > tr > th{
	padding: 10px 20px;
	text-align: center;
}

.vmt-table-small > tbody > tr > th,
.vmt-table-small > tfoot > tr > th,
.vmt-table-small > thead > tr > td,
.vmt-table-small > tbody > tr > td,
.vmt-table-small > tfoot > tr > td {
	padding: 2px 10px;
	margin: 0px 0px;
	height: 0px;
	line-height: 1;
	vertical-align: middle;
	border-top: 1px solid #ddd;
}

.vmt-table-small > thead > tr > th{
	padding: 10px 20px;
	text-align: center;
}

.vmt-button-small{
	height:25px;
	width:25px;
}

.vmt-button-wide{
	height:30px;
	width:50px;
}

.vmt-icon-wide{
	left:0px;
	top:-5px;
}

.vmt-icon-small{
	left:-7px;
	top:-7px;
}

.vmt-label-available {
	border-color: #388E3C;
	background-color: #388E3C;
	width:100%
}

.vmt-label-full {
	border-color: #F44336;
	background-color: #F44336;
	width:100%
}

.vmt-label-prepared {
	border-color: #7B1FA2;
	background-color: #7B1FA2;
	width:100%
}

.vmt-label-renovation {
	border-color: #444444;
	background-color: #444444;
	width:100%
}

.vmt-sub-modal {
	left:40px;
	top: 20px;
}

.vmt-label-center {
	margin-top:10px;
	margin-bottom:-10px;
}

.bg-vmt-table-header {
	background-color: #0288D1;
	border-color: #0288D1;
	color: #fff;
}

.bg-vmt-modal-header {
	background-color: #546E7A;
	border-color: #546E7A;
	color: #fff;
}

.bg-vmt-search-button {
	background-color: #0288D1;
	border-color:#0288D1;
	color: #fff;
}

.bg-vmt-verify-button {
	background-color: #0288D1;
	border-color:#0288D1;
	color: #fff;
}

.bg-vmt-add-button {
	background-color: #0288D1;
	border-color:#0288D1;
	color: #fff;
}

.bg-vmt-save-button {
	background-color: #689F38;
	border-color:#689F38;
	color: #fff;
}

.bg-vmt-cancel-button {
	background-color: #E53935;
	border-color:#E53935;
	color: #fff;
}

.bg-vmt-modal-button {
	background-color: #546E7A;
	border-color:#546E7A;
	color: #fff;
}

.bg-vmt-preview {
	background-color: #EF6C00;
	border-color: #EF6C00;
	color: #fff;
}

/* DataTable */
.table-bordered tr[class*=bg-] > th,
.table-bordered tr[class*=bg-] > td,
.table-bordered tr > th[class*=bg-],
.table-bordered tr > td[class*=bg-] {
    border-color: inherit;
}

.dataTable thead tr {
	background-color: #607D8B;
    border-color: #c1c1c1;
    color: #fff;
}
.dataTable.table-bordered tr th {
	border-color: inherit;
}

.datatable-scroll-lg,
.datatable-scroll,
.datatable-scroll-sm {
	/*overflow-x: auto;*/
	width: 100%;
}

/* Form */
.required {
	color: #D84315;
	font-weight: bold;
}
label.error {
	color: #D84315;
}
.btn-labeled > b > i {
	font-size: 16px;
}

/* Select 2*/
.select2 .select2-selection__rendered .select2-selection {
	/*text-transform: capitalize !important;*/
	text-transform: uppercase !important;

}

.vmt-text-grey {
    color: #90A4AE !important;
}

/* datatable */
.dataTables_paginate {
	padding-top: 10px !important;
}

/*datepicker*/
.ui-datepicker {
	z-index:3000 !important;
}

/*animation*/
.animate-enter,
.animate-leave
{
	-webkit-transition: 225ms cubic-bezier(0.550, 0.085, 0.680, 0.530) all;
	-moz-transition: 225ms cubic-bezier(0.550, 0.085, 0.680, 0.530) all;
	-ms-transition: 225ms cubic-bezier(0.550, 0.085, 0.680, 0.530) all;
	-o-transition: 225ms cubic-bezier(0.550, 0.085, 0.680, 0.530) all;
	transition: 225ms cubic-bezier(0.550, 0.085, 0.680, 0.530) all;
	position: relative;
	display: block;
}

.animate-enter.animate-enter-active,
.animate-leave {
	opacity: 1;
	bottom: 0;
	height: 30px;
}

.animate-leave.animate-leave-active,
.animate-enter {
	opacity: 0;
	bottom: -50px;
	height: 0px;
}

.row-10 {
	width: 10%;
}

.row-5 {
	width:5%;
}

.padding-bottom-small{
	padding-bottom: 15px;
}

.padding-bottom-top{
	padding-top: 15px;
}

.btn-box{
	max-width: 0.5em;
	max-height: 0.5em;
	padding:4.2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.btn-content {
	position: absolute;
	top:25px;
	left:0;
	right:0;
}

td.details-control {
	background: url('../img/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('../img/details_close.png') no-repeat center center;
}

/** Bed Color **/
.bed-available {
	color: #388E3C;
}
.bed-full {
	color: #F44336;
}
.bed-prepared {
	color: #7B1FA2;
}
.bed-renovation {
	color: #444444;
}

/* Fancytree Styles */
.fancytree-ext-filter-dimm .fancytree-hide {
	color: #aaa;
}

.fancytree-ext-filter-hide .fancytree-hide {
	display: none;
}

/* Form Shadow di Text Input (Placeholder) */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	opacity: 0.4 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	opacity: 0.4 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	opacity: 0.4 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	opacity: 0.4 !important;
}

.no-overflow {
	overflow: hidden;
}

.focus-line {
	border: 1px solid #1E88E5 !important;
}

/* Input Tags */
tags-input {
	display: block;
	width: 100%;
	height: 36px;
	padding: 7px 12px;
	font-size: 13px;
	line-height: 1.5384616;
	color: #333333;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/*tags-input:focus {*/
	/*border-color: #ddd;*/
	/*outline: 0;*/
	/*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(221, 221, 221, 0.6);*/
	/*box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(221, 221, 221, 0.6);*/
/*}*/
tags-input *, tags-input *:before, tags-input *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
tags-input .host {
	position: relative;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100%;
}
tags-input .host:active {
	outline: none;
}

/*tags-input .tags {*/
	/*-moz-appearance: textfield;*/
	/*-webkit-appearance: textfield;*/
	/*padding: 1px;*/
	/*overflow: hidden;*/
	/*word-wrap: break-word;*/
	/*cursor: text;*/
	/*background-color: #fff;*/
	/*border: 1px solid #ddd;*/
	/*border-radius: 3px !important;*/
	/*!*box-shadow: 1px 1px 1px 0 lightgray inset;*!*/
	/*height: 100%;*/
/*}*/
tags-input .tags.focused {
	outline: none;
	/*-webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);*/
	/*-moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);*/
	/*box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);*/
}
tags-input .tags .tag-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
tags-input .tags .tag-item {
	margin: 2px;
	padding: 0 5px;
	display: inline-block;
	float: left;
	/*font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	height: 26px;
	line-height: 25px;
	border: 1px solid #acacac;
	border-radius: 3px;
	/*background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);*/
	/*background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);*/
}
tags-input .tags .tag-item.selected {
	background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
	background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}
tags-input .tags .tag-item .remove-button {
	margin: 0 0 0 5px;
	padding: 0;
	border: none;
	background: none;
	cursor: pointer;
	vertical-align: middle;
	/*font: bold 16px Arial, sans-serif;*/
	color: #585858;
}
tags-input .tags .tag-item .remove-button:active {
	color: #ff0000;
}
tags-input .tags .input {
	border: 0;
	outline: none;
	margin: 2px;
	padding: 0;
	/*padding-left: 5px;*/
	float: left;
	height: 100%;
	width: 100%;
	/*font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}
tags-input .tags .input.invalid-tag {
	color: #ff0000;
}
tags-input .tags .input::-ms-clear {
	display: none;
}
tags-input.ng-invalid .tags {
	-webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
	-moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
	box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}
tags-input[disabled] .host:focus {
	outline: none;
}
tags-input[disabled] .tags {
	background-color: #eee;
	cursor: default;
}
tags-input[disabled] .tags .tag-item {
	opacity: 0.65;
	background: -webkit-linear-gradient(top, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
	background: linear-gradient(to bottom, #f0f9ff 0%, rgba(203, 235, 255, 0.75) 47%, rgba(161, 219, 255, 0.62) 100%);
}
tags-input[disabled] .tags .tag-item .remove-button {
	cursor: default;
}
tags-input[disabled] .tags .tag-item .remove-button:active {
	color: #585858;
}
tags-input[disabled] .tags .input {
	background-color: #eee;
	cursor: default;
}

tags-input .autocomplete {
	margin-top: 5px;
	position: absolute;
	padding: 5px 0;
	z-index: 999;
	width: 100%;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	max-height: 280px;
	overflow-y: auto;
	position: relative;
}
tags-input .autocomplete .suggestion-item {
	padding: 5px 10px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #fff;
}
tags-input .autocomplete .suggestion-item.selected {
	color: #fff;
	background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
	color: #fff;
	background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
	font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	background-color: #fff;
}

.table-report th, .table-report td {
    padding: 5px;
}

.table-report thead th{
   	font-weight: bold;
   	text-align: center;
}
.table-report tfoot th {
   	font-weight: bold;
}

.table-report{
	width: 100%;
}

.content-report{
	overflow: scroll;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

/* Background Color Penunjang Medis */
.vmt-bg-laboratorium {
	background-color: #4DB6AC;
    border-color: #4DB6AC;
    color: #fff;
}
.vmt-bg-radiologi {
	background-color: #66BB6A;
    border-color: #66BB6A;
    color: #fff;
}
.vmt-bg-fisioterapi {
    background-color: #4DD0E1;
    border-color: #4DD0E1;
    color: #fff;
}
.vmt-bg-ctscan {
	background-color: #42A5F5;
    border-color: #42A5F5;
    color: #fff;
}
.vmt-bg-audiometri {
    background-color: #999;
    border-color: #999;
    color: #fff;
}
.vmt-bg-diagnostik_fungsional {
	background-color: #BA68C8;
    border-color: #BA68C8;
    color: #fff;
}
.vmt-bg-cathlab {
    background-color: #F06292;
    border-color: #F06292;
    color: #fff;
}

/*# sourceMappingURL=ng-tags-input.css.map */

#btn-refresh {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 10000;
}

a.disabled {
	pointer-events: none;
}

.sweet-alert button.cancel {
    background-color: #fcfcfc;
    border: 1px solid #ddd;
}

.table > thead > tr,
.table > tbody > tr, 
.table > tfoot > tr, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    padding: 12px 20px;
    line-height: 1.5384616;
    vertical-align: top;
	border: 0.2em solid #c1c1c1;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
	border: inherit;
}


.datatable-footer {
	border-top: 0;
}

/* LOGIN */
.login-form {
	border: 1px solid rgba(174,245,245,1);
	border-radius: 6px;
    -webkit-box-shadow: 0px 0px 19px 1px rgba(174,245,245,1);
	-moz-box-shadow: 0px 0px 19px 1px rgba(174,245,245,1);
	box-shadow: 0px 0px 19px 1px rgba(174,245,245,1);
}

.login-input {
	border: 1px solid rgba(174,245,245,1);
	-webkit-box-shadow: 0px 0px 13px 1px rgba(174,245,245,1);
	-moz-box-shadow: 0px 0px 13px 1px rgba(174,245,245,1);
	box-shadow: 0px 0px 13px 1px rgba(174,245,245,1);
}